<div class="container-fluid p-0">
  <div class="mb-3">
    <h1 class="h3">Edit Book</h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-white">
          <h5 class="mb-0">Edit Book Details</h5>
        </div>
        <div class="card-body">
          <%= render 'form', book: @book %>
        </div>
      </div>
    </div>
  </div>
</div>
